.container {
    width: 100%;
    height: 200px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .container::-webkit-scrollbar {
    height: 12px;
  }
  
  .container::-webkit-scrollbar-track {
    background-color: #f2f2f2;
  }
  
  .container::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
  }
  
  .container::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
  }
  
  .CardContainers {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    overflow-x: auto;
    background-color: #bfceb4;
  }
  
  .CardContainer__inners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
  }
  