.modal {
  position: fixed;
  top: 30%;
  left: 40%;
  width: 20%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-main {
  background-color: rgb(35, 32, 32);
  padding: 20px;
  border-radius: 4px;
  width: 80%;
  max-width: 800px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}