.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    height:150vh;
  }

  .form-container {
    max-height: 800px;
    width: 500px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
  }
t
  .register-link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}