.partitions {
    display: flex;
  }
  
  .upper {
    flex: 1;
  }
  
  .right-card {
    background-color: #f2f2f2; /* Set the background color to the desired value */
    padding: 40px; /* Add padding to the right card */
  }
  
  .container.increased-height {
    height: 300px; /* adjust to your desired height */
    padding: 40px;
  }
  
  
  .price,
  .time {
    font-weight: bold; /* Apply a bold font weight to the price and time */
  }
  
  .book-now-button {
    background-color: #4CAF50; /* Set the background color of the button to the desired value */
    color: white;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .book-now-button:hover {
    background-color: #45a049; /* Set the background color of the button on hover */
  }
  